__pycache__/
.idea/
*.pyc
/*.pyc
/autoLimb.py
/autoLimb-2.py
/autoLimb-ORIG.py
/convert.py
/Create_IK_handle_offset_group.py
/demo.py
/FK_Control_Setup.py
/FK_IK_Blender.py
/jointOnCurve.py
/linksOnPath.py
/mytest.py
/mytest.ui
/quick_start.py
/quick_start.ui
/quick_start_end.py
/SolidCube.py
/SolidCubeCentered.py
/SolidPawControl.py
/SolidPin.py
/SolidPyramid.py
/SolidSlider.py
/template.py
/Variable FK Rig Script.mel
/variable_FK.py
/venv/
/OldRiggingTool/
/RiggingTool/ControlObjects/Blueprint/.mayaSwatches/
/RiggingTool/Characters/
/RiggingTool/Templates/tmp/
/Pyside2_For_Maya_Vol_01/
/Icons/
/CharacterPicker/SRC/
/CharacterPicker/Nuwa.json
/RiggingTool/SRC/
